---
import Carrusel from "../../Carrusel/Carrusel";
---

<section class="md:flex flex-col md:justify-center md:items-center   ">
    <p class="font-roboto font-bold text-sm text-center text-orange-700">Desliza para poder ver mas imagenes de nuestros eventos</p>
    <article class="flex md:w-[50%] h-full shadow-2xl p-5">
        <Carrusel client:only="react" ></Carrusel>
    </article>
</section>