---
import { Icon } from 'astro-icon/components'
import Carrusel from "../../Carrusel/Carrusel";

//Url de img que se van a pasar como props al componente carrusel
const images = [
  '/ImgSlide02.webp',
  '/ImgSlide01.webp',
  '/ImgSlide03.webp',
  '/ImgSlide04.webp',
  '/ImgSlide05.webp',
];

//Arreglo para el segundo carrusel
const images02 = [
  '/ImgSlide06.webp',
  '/ImgSlide08.webp',
  '/ImgSlide07.webp',
  '/ImgSlide09.webp',
  '/ImgSlide10.webp',
];
---

<section class="md:flex flex-col md:justify-center md:items-center gap-10  ">
    <p class=" flex w-full justify-center items-center font-roboto font-bold text-sm text-center text-orange-700">

        Desliza para poder ver mas imagenes de nuestros eventos</p>


        <!--PRIMER CARRUSEL -->
    <article class="flex md:w-[50%] h-full shadow-2xl p-5 rounded-xl">
        <Carrusel client:only="react" images={images} slidesPerView={1} />
    </article>

        <!--SEGUNDO CARRUSEL -->
        <p class="font-roboto font-bold md:text-lg text-center text-orange-700 my-10">
            Recuerda que celebramos bodas, baby showers, graduaciones, fiestas y todo tipo de eventos memorables</p>
    <article class="flex md:w-[80%] h-full shadow-2xl p-5 rounded-xl">
        
        <Carrusel client:only="react" images={images02} slidesPerView={2} />
    </article>
</section>