---
import { Icon } from 'astro-icon/components'
const videoSrc = '/PrimerVideo.mp4';
import '@fontsource-variable/oswald';
import '@fontsource/roboto';
---

<article class="w-full h-full flex flex-col justify-center items-center p-10">
  

  <h3 class=" flex justify-center items-center gap-5 md:text-4xl text-2xl font-bold text-center font-Oswald text-orange-800">
    
    <Icon name="gift" class="w-8 h-6" aria-hidden="true"/>
    EVENTOS REALIZADOS
    <Icon name="gift" class="w-8 h-6" aria-hidden="true"/>
  </h3>

  <section class="grid grid-cols-1 sm:grid-cols-2 md:w-[55%] max-w-4xl h-auto gap-10 p-4 sm:p-10 items-center shadow-2xl rounded-xl">

    <video 
      class=" w-[450px] h-[250px]  rounded-lg shadow-lg object-cover" 
      preload="metadata" muted autoplay loop>
      <source src={videoSrc} type="video/mp4" />
      Tu navegador no soporta la reproducción de videos.
    </video>
    
    <div class="flex flex-col justify-evenly gap-10">
      <p class="font-roboto text-left  text-sm sm:text-base">
        En sala de té La Romana nos encanta atenderte de lo mejor, por eso en este apartado podrás ver un poco
        de nuestro grandioso trabajo.
      </p>
      <a 
        href="contact" 
        class=" flex justify-center  items-center gap-5 p-3 text-sm sm:text-lg bg-orange-700 text-white font-Oswald rounded-lg shadow-xl text-center hover:bg-orange-600 duration-300">
        CONTACTANOS
        
        <Icon name="contacto" class="w-8 h-8" aria-hidden="true"/>
      </a>
    </div>
  </section>
</article>
