---
import { Icon } from "astro-icon/components";
import Card from "../Cards/Card.astro";
import '@fontsource-variable/oswald';
import '@fontsource/roboto';
---

<section class="w-full h-full mb-10 z-10"
id="PorqueNosotros"> 
    <article class="flex flex-col items-center justify-center">
        <h2 class="text-center font-bold text-2xl text-orange-700 font-Oswald ">
            ¿Por qué elegirnos a nosotros?
        </h2>
        <p class="text-center w-80 md:w-[400px] pt-5 font-roboto">
            tu evento será gestionado con la máxima dedicación y cuidado, 
            brindando a tus invitados una experiencia memorable y única,  por lo que aquí te mostramos
            <span class="text-orange-700 font-bold font-Oswald text-xl ">
                algunas razones para elegirnos a nosotros :
            </span>
        </p>
    </article>

    <article class="w-full  flex flex-wrap items-center justify-center gap-24 mt-20  ">    
    <!--Mandamos a llamar el componente card y pasamos las props correspondientes -->
        <Card
            bgColor="bg-gradient-to-b from-orange-700/80 to-orange-500/80"
            bgColorBtn="bg-orange-600"
            icon="map"
            title="Ubicación Accesible"
            text="Nuestra ubicacion nos permite brindar un ambiente accesible y cómodo para todos los asistentes."
            btnText="ENCUENTRANOS"
            link="address"
            
        />
        <Card
            bgColor="bg-gradient-to-b from-indigo-700/80 to-indigo-500/80"
            bgColorBtn="bg-indigo-700"
            icon="personal"
            title="Personal Capacitado"
            text="Nuestro equipo está comprometido en ofrecer un servicio de calidad en cada evento"
            btnText="MAS INFORMACION"
            link="contact"
        />
        <Card
        bgColor="bg-gradient-to-b from-red-700/80 to-red-500/80"
            bgColorBtn="bg-red-600"
            icon="personalizado"
            title="Paquetes Personalizados"
            text="Ofrecemos paquetes personalizados para cada uno de esos eventos especiales."
            btnText="VER MAS"
            link="events"
        />
    </article>
</section>
