---

import { Image } from "astro:assets";
import imgSobreNosotros01 from "../../../public/imgSobreNosotros01.webp";
import imgSobreNosotros02 from "../../../public/imgSobreNosotros02.webp";
import '@fontsource-variable/oswald';
import '@fontsource/roboto';

---

<section id="sobreNosotros" class=" w-full h-[650px] md:h-screen md:grid md:grid-cols-2 flex  flex-col "
>


   <!-- Sección de texto -->
    <article class=" flex md:justify-start justify-center items-center md:px-32">  
     
        <div class="md:w-96 flex flex-col gap-10  p-5 rounded-2xl bg-opacity-20  ">
            <h2 class="font-bold text-2xl text-orange-700 font-Oswald  ">
                ¿QUIENES SOMOS?
            </h2>

            <p class="font-roboto text-left ">
                En Sala de Té La Romana, somos un equipo apasionado y comprometido con la creación de eventos inolvidables. 
                Con años de experiencia en la industria de eventos, nos hemos consolidado como un referente en San Salvador, El Salvador, 
                ofreciendo espacios únicos y un servicio excepcional para todo tipo de ocasiones.
            </p>
        </div>
       
    </article>
       <!-- Sección de imágenes -->
    <article class="w-full h-screen md:p-3 flex flex-col justify-center md:items-start items-center md:relative overflow-hidden">
        <div >
      
            <Image
                src={imgSobreNosotros02}
                decoding="async"
                loading="lazy"
                alt="Foto de la decoración del lugar para cualquier fiesta"
                class="md:w-[550px] md:h-[300px] w-[250px] h-[150px]  object-cover bg-cover rounded-2xl shadow-slate-700 shadow-xl transform md:translate-x-4   opacity-95 hover:opacity-100 duration-300 hover:scale-105  "
            
            />
    
    
            <Image
                src={imgSobreNosotros01}
                decoding="async"
                loading="lazy"
                alt="Foto de la decoración del lugar para bodas"
                class="md:w-[200px] md:h-[250px] w-[150px] h-[200px] absolute object-cover bg-cover rounded-2xl shadow-slate-700 shadow-2xl  transform md:translate-x-96 md:-translate-y-96 translate-x-36 -translate-y-[120%] opacity-95 hover:opacity-100 duration-300 md:hover:scale-105 hover:scale-105 "
            />
        </div>
    </article>
    
  
</section>