---

import Map from '../components/Map.jsx';
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicacion</title>
</head>
<body>
    <main>
        <Header></Header>
    </main>
</body>
</html>