---
import Header from '../components/Header.astro';
import MainContact from '../components/Sections/Contact/MainContact.astro';
import MapContainer from '../components/Map/MapContainer.astro';

import SectionContact from '../components/Sections/Contact/SectionContact.astro';
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<meta name="generator" content={Astro.generator} />

    <title>Ubicacion Sala de Te la Romana</title>
</head>
<body>
    <main>
        <Header></Header>
        <MainContact></MainContact>
        <SectionContact></SectionContact>
        <MapContainer></MapContainer>
    </main>
</body>
</html>