---

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SectionMainEvento from '../components/Sections/Evento/SectionMainEvento.astro';
import SectionCarrusel from '../components/Sections/Evento/SectionCarrusel.astro';
import SectionVideoEvento from '../components/Sections/Evento/SectionVideoEvento.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
        <meta name="keywords" content="eventos, reservaciones, baby showers, cumpleaños, salon , sala para eventos
		barato, centro, bonito, graduaciones, graduacion, bodas, reuniones, reservacion, accesible, bueno, fiesta, buena comida, buen ambiente
		san salvador, el salvador, fotos, videos, cotiza tu evento, cotizacion" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<meta name="generator" content={Astro.generator} />

    <title>Eventos Realizados</title>
</head>
<body>
    <main>
        <Header></Header>
        <SectionMainEvento></SectionMainEvento>
        <SectionCarrusel></SectionCarrusel>
        <SectionVideoEvento></SectionVideoEvento>
        <Footer></Footer>

    </main>
    
</body>
</html>