---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionMain from '../components/SectionMain.astro';

---

<Layout title="Sala de Té">
	<main>
		<Header></Header>
		<SectionMain></SectionMain>
	</main>
</Layout>
