---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SectionMain from '../components/Sections/SectionMain.astro';
import SectionSobreNosotros from '../components/Sections/SectionSobreNosotros.astro';
import SectionPorqueNosotros from '../components/Sections/SectionPorqueNosotros.astro';
---

<Layout title="Sala de Té la Romana">
	<main>
		<Header></Header>
		<SectionMain></SectionMain>
		<SectionSobreNosotros></SectionSobreNosotros>
		<SectionPorqueNosotros></SectionPorqueNosotros>
	</main>
</Layout>
