---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionMain from '../components/SectionMain.astro';

import SectionSobreNosotros from '../components/SectionSobreNosotros.astro';
---

<Layout title="Sala de Té la Romana">
	<main>
		<Header></Header>
		<SectionMain></SectionMain>
		<SectionSobreNosotros></SectionSobreNosotros>
		
	</main>
</Layout>
