---
import { Icon } from 'astro-icon/components'
import '@fontsource-variable/oswald';
import '@fontsource/roboto';
---
<header class="md:flex md:justify-center w-full">
    <div class="md:flex md:justify-between p-2 md:w-[90%] w-full">
        <a href="/" aria-label="Ir a la página de inicio">
            <h1 class="font-bold p-2 w-[130px] text-xl font-Oswald">
                SALA DE TÉ 
                <span class="text-orange-700 ">LA ROMANA</span>
            </h1>
        </a>

        <ul class=" font-Oswald w-full flex md:gap-20 gap-5 justify-evenly md:justify-end items-center font-bold text-xs md:text-sm text-orange-700">
            <li>
                <a href="../#sobreNosotros" class="flex gap-2 p-2 items-center border-2 border-white  hover:border-orange-700 rounded-2xl transition duration-200">
                    <Icon name="nosotros" class="w-8 h-6" aria-hidden="true"/>
                    NOSOTROS
                </a>
            </li>
            <li>
                <a href="events" class=" flex gap-2 p-2 items-center border-2 border-white hover:border-orange-700 rounded-2xl transition duration-200">
                    <Icon name="gift" class="w-8 h-6" aria-hidden="true"/>
                     EVENTOS
                </a>
            </li>
            <li>
                <a href="contact" class="flex gap-2 items-center bg-orange-900 p-2 border-b-2 border-white text-white rounded-xl transition duration-200 hover:bg-orange-800">
                    <Icon name="contacto" class="w-8 h-6" aria-hidden="true"/>
                    CONTACTO
                  
                </a>
            </li>
        </ul>
    </div>
</header>
