---
import { Icon } from "astro-icon/components";
import Card from "../components/Card.astro";
---

<section class="w-full h-full mb-10 "> 
    <article class="flex flex-col items-center justify-center">
        <h2 class="text-center font-bold text-2xl text-orange-700">
            ¿Por qué elegirnos a nosotros?
        </h2>
        <p class="text-center w-80 md:w-96 pt-5">
            Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet
            consectetur ipsum dolor sit amet consectetur adipisicing elit.
            Ipsum, nisi?
        </p>
    </article>

    <article class="w-full  flex flex-wrap items-center justify-center gap-24 mt-20  ">    
    <!--Mandamos a llamar el componente card y pasamos las props correspondientes -->
        <Card
            bgColor="bg-orange-400"
            bgColorBtn="bg-orange-600"
            icon="map"
            title="Ubicación Accesible"
            text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, eos."
            btnText="ENCUENTRANOS"
            link="address"
            
        />
        <Card
            bgColor="bg-violet-500"
             bgColorBtn="bg-violet-700"
            icon="personal"
            title="Personal Capacitado"
            text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, eos."
            btnText="MAS INFORMACION"
            link="address"
        />
        <Card
            bgColor="bg-red-400"
            bgColorBtn="bg-red-600"
            icon="personalizado"
            title="Paquetes Personalizados"
            text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, eos."
            btnText="VER MAS"
            link="address"
        />
    </article>
</section>
