---
import { Image } from "astro:assets";
import imgContact from "../../../../public/imgContact.webp";
import { Icon } from 'astro-icon/components';
---

<section class="relative w-full md:h-[600px] h-80 overflow-hidden">
  <!-- Imagen de fondo con degradado -->
  <div class="relative w-full h-full">
    <Image
      src={imgContact}
      decoding="async"
      loading="lazy"
      alt="Foto de la decoración del lugar."
      class="absolute object-cover bg-cover w-full h-full"
    />
    <!-- Degradado claro sobre la imagen -->
    <div class="absolute inset-0 bg-gradient-to-b from-orange-900/10 to-orange-500/30"></div>
  </div>

  <!-- Contenedor de texto -->
  <article class="absolute inset-0 flex items-center md:justify-start md:pl-40 justify-center text-white ">
    <div class="md:w-[350px] w-[250px] md:p-6 p-2 rounded-xl bg-white/20 backdrop-blur-md shadow-2xl text-center">
      <!-- Título -->
      <h3 class="md:text-3xl text-lg font-bold  mb-4 text-orange-800">CONTÁCTANOS</h3>
      <!-- Descripción -->
      <p class="font-bold md:text-lg text-sm mb-6 text-orange-950 ">
        En este apartado encontrarás las formas más fáciles de establecer una comunicación rápida con nosotros.</p>
    </div>
  </article>
</section>
