---
import { Icon } from "astro-icon/components";
import CardContact from "../../Cards/CardContact.astro";
---

<section class="w-full h-full flex justify-center items-center flex-wrap mt-10">
    <article
        class="w-full h-20 flex flex-col justify-center items-center gap-4"
    >
        <h3 class="text-3xl text-orange-700 font-bold">CONTÁCTANOS</h3>
        <p class="text-xl text-orange-800 font-bold mb-5">
            Formas de contactarnos
        </p>
    </article>

    <article
        class="w-[90%] flex justify-around md:items-center flex-wrap gap-10 mb-16"
    >
        <!--Mandamos a llamar el componente card y pasamos las props correspondientes para contacto -->
        <CardContact
            bgColor="bg-gradient-to-b from-green-700/80 to-green-500/80"
            icon="phone"
            title="NUMERO TELEFONICO"
            text="Puedes llamarnos al siguiente numero: "
            text02="+503 2226 1578"
        />
        <CardContact
            bgColor="bg-gradient-to-b from-cyan-700/80 to-cyan-500/80"
            icon="mail"
            title="CORREO ELECTRONICO"
            text="Puedes mandarnos un correo a la siguiente direccion "
            text02="laromana256@gmail.com"
        />
        <a
            href="https://www.facebook.com/profile.php?id=100042064482523&locale=es_LA"
            target="_blank"
            rel="noopener noreferrer"
        >
            <CardContact
                bgColor="bg-gradient-to-b from-blue-700/80 to-blue-500/80"
                icon="chat-bubble"
                title="PAGINA EN FACEBOOK"
                text="Escribenos a traves de nuestra pagina de facebook, Da click para entrar:  "
                text02="Sala de té la romana"
            />
        </a>
    </article>
</section>
