---

import '@fontsource-variable/oswald';
import '@fontsource/roboto';
import MapComponent from '../Map/MapComponent';
---

<section class="m-6">
    <article class="flex flex-col items-center gap-3 text-center font-bold text-2xl text-orange-700">
        <h2 class="text-center font-bold text-2xl font-Oswald">!ENCUENTRAMOS FACILMENTE!</h2>
        <p class="text-xl font-Oswald">ESTAMOS UBICADOS EN :</p>
        <p class="font-roboto text-xl md:w-[400px] w-[90%] pt-2 pb-2 text-orange-950" >Calle Gabriela Mistral #203, atras del Colegio Guadalupano,San Salvador, San Salvador, El Salvador
        </p>
    </article>
    <article class="flex justify-center items-center md:mt-5 mt-2 w-full h-[500px] md:h-screen ">
        <MapComponent client:only="react" ></MapComponent>

    </article>
</section>