---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Es un espacio ideal para eventos que buscan un toque exclusivo, perfecto para ocasiones como baby showers, Cumpleaños, Bodas y Graduaciones. La flexibilidad del lugar permite adaptarse a las necesidades del evento mientras mantiene un ambiente íntimo y encantador." />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="eventos, reservaciones, baby showers, cumpleaños, salon , sala para eventos
		barato, centro, bonito, graduaciones, graduacion, bodas, reuniones, reservacion, accesible, bueno, fiesta, buena comida, buen ambiente
		san salvador, el salvador" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>


<style is:global>
	
	html {
		font-family: system-ui, sans-serif;
		background: #FFFFFF;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	#sobreNosotros {
  background: url('/bg.png') no-repeat ;
  background-size: contain;
  width: 100%; 
}


</style>
